 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/happy-doctors.jpg');
}

.u-section-1 .u-sheet-1 {
  min-height: 855px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 500;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 290px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 533px;
  margin: 51px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 201px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1105px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 947px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-image-1 {
  height: 347px;
  width: 385px;
  margin: 156px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 156px 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 946px;
  background-image: url("images/pexels-dhanno-25184998.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 809px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 280px;
    width: 300px;
    margin-top: 92px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 92px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-2 {
    min-height: 715px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 354px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 201px;
    width: 215px;
    margin-top: 20px;
    margin-right: 85px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 597px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1523px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 612px;
    order: 1;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: 54px;
    margin-right: 54px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 34px;
    margin-left: 54px;
    margin-right: 54px;
  }

  .u-section-2 .u-image-2 {
    min-height: 856px;
    order: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1295px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 656px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 32px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 539px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 571px;
}

.u-section-3 .u-image-1 {
  width: 556px;
  height: 556px;
  margin: 25px auto -10px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url('images/photo-1436491865332-7a61a109cc05.jpeg');
  min-height: 1062px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 45px calc(((100% - 1140px) / 2)  + -51px) 43px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 974px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  font-size: 0.875rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 190px 169px 0 37px;
}

.u-section-4 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 0.75rem;
  margin: 25px 90px 0 37px;
}

.u-section-4 .u-btn-1 {
  text-transform: none;
  background-image: none;
  font-weight: 700;
  margin: 29px auto 0 37px;
  padding: 13px 47px 14px 45px;
}

.u-section-4 .u-icon-1 {
  width: 26px;
  height: 26px;
  margin: 30px auto 0 37px;
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 0.875rem;
  margin: -24px 212px 0 79px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-icon-2 {
  width: 29px;
  height: 29px;
  margin: 30px auto 0 37px;
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -29px auto 0 79px;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  font-size: 0.875rem;
  padding: 0;
}

.u-section-4 .u-icon-3 {
  width: 32px;
  height: 32px;
  margin: 31px auto 0 37px;
  padding: 2px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 0.875rem;
  margin: -27px 188px 0 79px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 974px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 48px;
}

.u-section-4 .u-form-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --checkbox-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  --radio-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%2341807c'/%3e%3c/svg%3e");
  width: 444px;
  left: 65px;
  right: auto;
}

.u-section-4 .u-form-group-1 {
  margin-left: 0;
}

.u-section-4 .u-label-1 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-4 .u-input-1 {
  font-size: 0.75rem;
  text-transform: none;
  font-weight: 700;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-label-2 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-4 .u-input-2 {
  font-size: 0.75rem;
  text-transform: none;
  font-weight: 700;
}

.u-section-4 .u-form-group-3 {
  margin-left: 0;
}

.u-section-4 .u-label-3 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-4 .u-input-3 {
  font-size: 0.75rem;
  text-transform: none;
  font-weight: 700;
}

.u-section-4 .u-label-4 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-4 .u-input-4 {
  font-size: 0.75rem;
  text-transform: none;
  font-weight: 700;
}

.u-section-4 .u-form-group-5 {
  margin-left: 0;
}

.u-section-4 .u-label-5 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-4 .u-input-5 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-4 .u-form-group-6 {
  margin-left: 0;
}

.u-section-4 .u-label-6 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-4 .u-form-group-7 {
  margin-left: 0;
}

.u-section-4 .u-label-7 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-4 .u-input-6 {
  font-size: 0.75rem;
  text-transform: none;
  font-weight: 700;
}

.u-section-4 .u-form-group-8 {
  margin-left: 0;
}

.u-section-4 .u-label-8 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-4 .u-form-group-9 {
  margin-left: 0;
}

.u-section-4 .u-label-9 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-4 .u-input-7 {
  font-size: 0.75rem;
  text-transform: none;
  font-weight: 700;
}

.u-section-4 .u-label-10 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-4 .u-input-8 {
  font-size: 0.75rem;
  text-transform: none;
  font-weight: 700;
}

.u-section-4 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  padding: 15px 49px 15px 48px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1030px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 990px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 943px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 198px;
    margin-right: 101px;
    margin-left: 44px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 31px;
    margin-right: 21px;
    margin-left: 44px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 30px;
    margin-right: 39px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 40px;
    margin-left: 49px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -22px;
    margin-right: 138px;
    margin-left: 90px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 18px;
    margin-left: 46px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -32px;
    margin-right: 119px;
    margin-left: 88px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 15px;
    margin-left: 46px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 115px;
    margin-left: 90px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 943px;
  }

  .u-section-4 .u-form-1 {
    width: 417px;
    left: 8px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1034px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 788px;
    margin-right: calc(((100% - 720px) / 2)  + -68px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 946px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 171px;
    margin-right: 54px;
    margin-left: 24px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 54px;
    margin-left: 24px;
  }

  .u-section-4 .u-btn-1 {
    --radius: 10px;
    margin-right: auto;
    margin-left: 25px;
    padding-right: 14px;
    padding-left: 13px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 26px;
    margin-left: 27px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -24px;
    margin-right: 78px;
    margin-left: 65px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 14px;
    margin-left: 24px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -29px;
    margin-right: 58px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-3 {
    width: 38px;
    height: 38px;
    margin-top: 13px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -30px;
    margin-right: 47px;
    margin-left: 65px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 615px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-form-1 {
    width: 388px;
    left: -11px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1538px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 43px;
    margin-right: 76px;
    margin-left: 65px;
  }

  .u-section-4 .u-text-2 {
    width: 410px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 66px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 30px;
    margin-left: 66px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -26px;
    margin-right: 38px;
    margin-left: 105px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 13px;
    margin-left: 66px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -26px;
    margin-right: auto;
    margin-left: 105px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 60px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 8px;
    margin-left: 104px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 791px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-form-1 {
    width: 402px;
    left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1796px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 64px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 529px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-right: -22px;
    margin-left: 22px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 32px;
    margin-left: 22px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 32px;
    margin-left: 30px;
  }

  .u-section-4 .u-text-3 {
    margin-right: -67px;
    margin-left: 67px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 26px;
    margin-left: 27px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -29px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 17px;
    margin-left: 22px;
  }

  .u-section-4 .u-text-5 {
    margin-right: -67px;
    margin-left: 67px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 498px;
  }

  .u-section-4 .u-form-1 {
    width: 320px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/14.jpeg');
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 1245px;
}

.u-section-5 .u-form-1 {
  height: 933px;
  margin-top: 467px;
  margin-bottom: 0;
}

.u-section-5 .u-form-group-1 {
  margin-left: 0;
}

.u-section-5 .u-label-1 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-5 .u-input-1 {
  --radius: 7px;
  font-size: 0.75rem;
}

.u-section-5 .u-form-group-2 {
  margin-left: 0;
}

.u-section-5 .u-label-2 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-5 .u-input-2 {
  --radius: 7px;
  font-size: 0.75rem;
}

.u-section-5 .u-form-group-3 {
  margin-left: 0;
}

.u-section-5 .u-label-3 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-5 .u-input-3 {
  font-size: 0.75rem;
  --radius: 7px;
}

.u-section-5 .u-form-group-4 {
  margin-left: 0;
}

.u-section-5 .u-label-4 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-5 .u-input-4 {
  font-size: 0.75rem;
  --radius: 7px;
}

.u-section-5 .u-form-group-5 {
  margin-left: 0;
}

.u-section-5 .u-label-5 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-5 .u-input-5 {
  --radius: 7px;
  font-size: 0.75rem;
}

.u-section-5 .u-form-group-6 {
  margin-left: 0;
}

.u-section-5 .u-label-6 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-5 .u-form-group-7 {
  margin-left: 0;
}

.u-section-5 .u-label-7 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-5 .u-input-6 {
  font-size: 0.75rem;
  --radius: 7px;
}

.u-section-5 .u-form-group-8 {
  margin-left: 0;
}

.u-section-5 .u-label-8 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-5 .u-form-group-9 {
  margin-left: 0;
}

.u-section-5 .u-label-9 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-5 .u-input-7 {
  font-size: 0.75rem;
  --radius: 7px;
}

.u-section-5 .u-form-group-10 {
  margin-left: 0;
}

.u-section-5 .u-label-10 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-5 .u-input-8 {
  font-size: 0.75rem;
  --radius: 7px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  width: 100%;
  padding: 11px 0 12px;
}

.u-section-5 .u-text-1 {
  font-size: 0.875rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: auto;
  margin: -1080px 66px 0 13px;
}

.u-section-5 .u-btn-2 {
  text-transform: none;
  background-image: none;
  font-weight: 700;
  margin: 26px auto 0 13px;
  padding: 13px 12px 14px 11px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 0.875rem;
  width: auto;
  margin: 40px 98px 0 66px;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: auto;
  margin: 14px 170px 0 65px;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  font-size: 0.875rem;
  padding: 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 0.875rem;
  width: auto;
  margin: 22px 76px 0 64px;
}

.u-section-5 .u-icon-1 {
  width: 26px;
  height: 26px;
  margin: -109px auto 0 15px;
  padding: 0;
}

.u-section-5 .u-icon-2 {
  width: 29px;
  height: 29px;
  margin: 13px auto 0 15px;
  padding: 0;
}

.u-section-5 .u-icon-3 {
  width: 32px;
  height: 32px;
  background-image: none;
  margin: 15px auto 60px 14px;
  padding: 2px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1631px;
  }

  .u-section-5 .u-form-1 {
    width: 704px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1096px;
  }

  .u-section-5 .u-form-1 {
    margin-top: 302px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: -971px;
    margin-right: 117px;
    margin-left: 12px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 16px;
    margin-left: 11px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 15px;
    margin-right: 137px;
    margin-left: -137px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 270px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 265px;
    margin-left: 75px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -102px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1245px;
  }

  .u-section-5 .u-form-1 {
    margin-top: 467px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-top: -1080px;
    margin-right: 66px;
    margin-left: 13px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 26px;
    margin-left: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 40px;
    margin-right: 98px;
    margin-left: 66px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 170px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 76px;
    margin-left: 64px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -109px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 14px;
  }
}